.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.key:hover {
    transition: ease-in-out 0.1s;
    cursor: pointer;
    filter: brightness(0.9);
}

.key {
    padding-left: 5px;
    padding-right: 5px;
}